<!-- PC View -->
<div class="univ_board_background_with_img d-none d-md-block" style="background-image: url('<%= asset_path "campus/campus-normal.jpg" %>')">
    <div class="univ_board_background-black-pc">
        <div class="container" align="center">
            <div class="wow fadeInUp" style="font-size: 50px; color: white; margin-top: 30px;">#<%= params[:name] %></div>
        </div>
    </div>
</div>