.tooltip_w3 {
    position: relative;
    display: inline-block;
}

.tooltip_w3 .tooltiptext_w3 {
    font-size: 15px;
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip_w3:hover .tooltiptext_w3 {
    visibility: visible;
    opacity: 1;
}

.tooltip_w3 .tooltiptext_w3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}