.mttitle{
    margin-top: 150px;
}
.mt-danger{
    margin-top: 100px;
}
.mt{
    margin-top: 40px;
}
.mt-lev{
    margin-top: 20px;
}
.bor{
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border: 3px solid #F9F9F9;
}